.layout {
  display: grid;
  grid-template-columns: 1fr 7fr;
  height: 100%;
}

.layout__navigation {
  ul {
    list-style: none;
    padding: 0;
  }
}

.layout__content {
  border: solid 1px #f00;
}
